$light-color: #828486;

.catalogItems{
    margin: 50px 170px 0px 170px;
}

.prod-title{
    font-size: 15px;
    font-weight: 500;
}

.prod-subtitle{
    font-size: 12px;
    color: $light-color;
}

.prod-price{
    text-align: end;
    margin-top: 30px;
    margin-left: 10px;
    padding-right: 0px;
}

.prod-reg-price{
    font-size: 14px;
    color: $light-color;
    font-weight: 400;
    text-decoration-line: line-through;
    margin-right: 3px;
}

.prod-price-sep{
    @extend .prod-reg-price;
    text-decoration-line: initial;
}  