body{
  overflow-x: hidden;
}

.navbar{
  display: block;
}

/* SearchComponent - Inicio */
.searchContainer{
  border-width: 1px;
  border-style: solid;
  border-color: #d5d5d5;
  border-radius: 25px;
}

.searchBtn{
  cursor: pointer;
}

.icon-cancel{
  color: #959393;
  font-size: 14px;
}

.icon-search{
  color: #b9b8b8;
  font-size: 12px;
}

.searchInputBox::placeholder{
  color: #9f9fa0;
  font-size: 14px;
}

.searchInputBox{
   border: none;
   color: #9f9fa0;
   font-size: 14px;
   height: 30px;
}

.searchInputBox:focus{
  outline:none;
}

/* SearchComponent - Fim */

/* ProductCatalog - Inicio */

.catalogItems{
  margin: 50px 170px 0px 170px;
}

.prod-title{
  font-size: 15px;
  font-weight: 500;
}

.prod-subtitle{
  font-size: 12px;
  color: #828486;
}

.prod-price{
  text-align: end;
  margin-top: 30px;
  margin-left: 10px;
  padding-right: 0px;
}

.prod-reg-price{
  font-size: 14px;
  color: #828486;
  font-weight: 400;
  text-decoration-line: line-through;
  margin-right: 3px;
}

.prod-price-sep{
  @extend .prod-reg-price;
  text-decoration-line: initial;
}  

/* ProductCatalog - Fim */