.navbar{
  display: block;
}

/* SearchComponent - Inicio */
.searchContainer{
  border-width: 1px;
  border-style: solid;
  border-color: #d5d5d5;
  border-radius: 25px;
}

.searchBtn{
  cursor: pointer;
}

.icon-cancel{
  color: #959393;
  font-size: 14px;
}

.icon-search{
  color: #b9b8b8;
  font-size: 12px;
}

.searchInputBox::placeholder{
  color: #9f9fa0;
  font-size: 14px;
}

.searchInputBox{
   border: none;
   color: #9f9fa0;
   font-size: 14px;
   height: 30px;
}

.searchInputBox:focus{
  outline:none;
}

/* SearchComponent - Fim */